<p class="h2 mt-5">Total viewers for the games: <span
  class="h1">{{receivedStreams$.getValue().totalViewers}}</span></p>
<ul>
  <li class="h6" *ngFor="let gameName of receivedStreams$.getValue().gameList">{{gameName}}</li>
</ul>
<div class="container">
  <div class="row mb-4">
    <div class="col-md-auto text-left">
      <h4 class="mt-4">Views for each game: </h4>
    </div>
    <div class="mt-auto col-sm text-left align-text-bottom">
      <button class="float-sm-start btn btn-dark" type="button" value="save" (click)="saveCurrentDatas()">Save</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm text-center bg-light m-1"
         *ngFor="let gameModel of gamesGeneralInfos">
      {{gameModel.game_name}} - <strong>{{gameModel.viewers}}</strong>
    </div>
  </div>
</div>
<p></p>
